<article class="max-w-6xl mx-auto px-3">
    <header class="mx-auto max-w-xl text-center content">
        <section class="flex flex-col items-center">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQEw9rxiXzSWmQ/profile-displayphoto-shrink_800_800/0/1640123960827?e=1647475200&v=beta&t=d_QXQrkCifSQWI0QxhCfNNbI8qupfRrG16SdYtyHL2s" alt="Avatar" style="border-radius: 50%;width: 30%;">
            <h3 class="heading-top">Full stack web developer for Laravel, Symfony, NodeJs and ReactJs</h3>
            <p class="heading-bottom">It's my ambition to build solid, stable and extendable web applications, which are fun to use and helpful in your daily business.</p>
        </section>
        <hr class="my-10 border-teal-500">
    </header>
    <div class="mx-auto max-w-xl text-center">
        <h2 class="text-3xl font-black">My blog</h2>
        <h2 class="text-2xl mt-2 text-teal-400 font-black">I love to share.</h2>
    </div>
    {{ collection:blog as="posts" paginate="12" }}
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8">
        {{ posts }}
            <div class="{{ first ? 'md:col-span-2' : 'col-span-1' }}">
                {{ partial:blog/card oversized="{{ first ? 'true' : 'false' }}" }}
            </div>
        {{ /posts }}
    </section>
    {{ paginate }}
        {{ if prev_page || next_page }}
        <section class="flex space-x-8 justify-center text-xl pt-16 font-bold">
            {{ if prev_page }}
                <a href="{{ prev_page }}"><span class="squiggle">&larr;</span> Newer articles</a>
            {{ /if }}
            {{ if next_page }}
                <a href="{{ next_page }}">Older articles <span class="squiggle">&rarr;</span></a>
            {{ /if }}
        </section>
        {{ /if }}
    {{ /paginate }}
    {{ /collection:blog }}
</article>
